body {
    font-family: Arial, sans-serif;
    background-image: url('../images/reg_back.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    text-align: center;
}

.menu a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #dbdbdb;
}

.menu a:active{
    background-color: #dbdbdb;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.chat-container {
    width: 50%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-header {
    background-color: #5c8ddb;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f0f2f5;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

#send-button {
    border: none;
    background-color: #5c8ddb;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.message {
    background-color: #e4e6eb;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}


.message.user {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}